@charset "UTF-8";

body {
	background-color: #115c6d;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
}

#heading h1 {
	font-size: 4rem;
}

p {
	font-size: 1.5rem;
}

.bg-blue {
	background-color: #115c6d;
}