@charset "UTF-8";

body {
	background-image: url("dollars.jpg");
	background-size: cover;
	background-position: center; 
}

body, html {
    height: 100%;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
}

#heading {
	padding-top: 10%;
}

#heading h1 {
	font-size: 4rem;
}

#result {
	padding: 5%;
}

#result p {
	font-size: 3rem;
}